<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Sprint 2 - my base</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
	</head>
	<body>
		<div id="content">
			{% block body %}{% endblock %}
		</div>
		<div id="nav">
			Navigation: <br />
			<ul>
				{% block nav %}{% endblock %}
				<hr id="nav"/>
				{% if 'username' in session %}
				<li><a href="{{url_for('remote')}}">remote control</a></li>
				<li><a href="{{url_for('music')}}">music</a></li>
				<li><a href="{{url_for('login')}}">logout</a></li>
				{% else %}
				<li><a href="{{url_for('login')}}">login</a></li>
				{% endif %}
			</ul>
		</div>
		<div id="flashed">
			{% with messages = get_flashed_messages() %}
			{% for message in messages %}
				{{message}}
			{% endfor %}
			{% endwith %}
		</div>
	</body>
</html>
